# npm login --registry=https://registry.npmjs.org/
# npm config set //registry.npmjs.org/ ${{NPM_TOKEN}}
# npm login --auth-type=legacy
# //registry.npmjs.org/:_authToken=${TOKEN}

audit=true
fund=true
update-notifier=true
package-lock=true
save-exact=true
# save-optional=true
ignore-scripts=false
legacy-peer-deps=true
loglevel=warn
